html {
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  color: #fff;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background: rgba(68, 68, 68, 0.8);
}
body#bg-image {
  background: url(../img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}
body#bg-image::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
h1,
h2,
h3 {
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: calc(1rem + 5vw);
  color: #fff;
}
h1.lg-heading:hover,
h2.lg-heading:hover,
h3.lg-heading:hover {
  font-size: 6.1rem;
  transition: all 0.3s ease-out;
  font-weight: 500;
  cursor: pointer;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}
h3.sm-description {
  background-color: transparent;
  font-size: max(1.17em, 1.5vw);
}
a {
  color: #fff;
  text-decoration: none;
}
.secondary-text {
  color: #eece1a;
}
main {
  padding: min(4rem, 4vw);
  min-height: calc(100vh - 60px);
  text-align: center;
  background-color: rgba(68, 68, 68, 0.8);
}
main .icons {
  margin-top: 1rem;
}
main a {
  padding: 0.4rem;
  color: #fff;
}
main a:hover {
  color: #eece1a;
  transition: all 0.3s ease-out;
}
main#id {
  overflow: hidden;
}
main#id h1 {
  margin-top: 20vh;
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio bio bio' 'job1 job2 job3' 'job4 job5 job6';
  grid-template-columns: repeat(3, 1fr);
}
.about-info .bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: #eece1a 3px solid;
  width: 250px;
  height: 250px;
}
.about-info .bio {
  grid-area: bio;
  font-size: 1.5rem;
  font-weight: 500;
}
.about-info .bio p {
  margin-top: 15px;
  font-size: 1.3rem;
  font-weight: 350;
}
.about-info .job {
  background: #515151;
  padding: 0.5rem;
  border-bottom: #eece1a 5px solid;
}
.about-info .job p {
  margin-top: 1.1rem;
  font-weight: 300;
  font-size: 1.05rem;
}
.about-info .job h3 {
  color: #eece1a;
  display: block;
  margin-bottom: 5px;
}
.about-info .job h3:hover {
  font-size: 1.2rem;
  border-bottom: 2px solid #fff;
  margin-bottom: 4px;
  transition: all 0.3s ease-out;
}
.about-info .job-1 {
  grid-area: job1;
}
.about-info .job-2 {
  grid-area: job2;
}
.about-info .job-3 {
  grid-area: job3;
}
.about-info .job-1 p,
.about-info .job-2 p {
  text-align: left;
  line-height: 1.15;
}
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem;
}
.projects img {
  width: 100%;
  height: 200px;
  border: 3px #fff soild;
}
.projects img:hover {
  opacity: 0.5;
  border-color: #eece1a;
  transition: all 0.3s ease-out;
}
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}
.boxes div {
  font-size: 1.3rem;
  border: 3px #fff solid;
  padding: 1.5rem 1.5rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease-out;
}
.boxes div:hover {
  padding: 0.5rem 0.5rem;
  background: #eece1a;
  color: #000;
}
.boxes div:hover span {
  color: #000;
}
.btn,
.btn-dark,
.btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-dark:hover,
.btn-light:hover {
  background: #eece1a;
  color: #000;
}
.btn-dark {
  background: #000;
  color: #fff;
}
.btn-light {
  background: #c4c4c4;
  color: #000;
}
#main-footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
  background: #2b2b2b;
  height: 60px;
}
@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .lg-heading {
    letter-spacing: -0.04cm;
  }
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  main .lg-heading {
    letter-spacing: -0.04cm;
    line-height: 1;
  }
  ul.menu-nav {
    float: right;
    width: max-content;
    min-height: 0;
  }
  ul.menu-nav.show {
    transform: translate3d(0, 0, 0);
    font-size: 24px;
  }
  .menu-nav {
    height: 100%;
  }
  .about-info {
    grid-template-areas: 'bio' 'job1' 'job2' 'job3' 'job4' 'job5' 'job6';
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .sm-heading {
    margin-top: 24px;
  }
}
@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  h2.lg-heading {
    font-size: 4rem;
  }
  .navbar a span {
    display: none;
  }
  .wrapper,
  .card-front,
  .card-back {
    font-size: 12px;
    width: 70vw;
  }
}
.pre-heading {
  font-size: 1.5rem;
}
.italic {
  font-style: italic;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: black;
  color: #eece1a;
}

ul {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: left;
  padding-inline-start: 16px;
  margin-block: 0;
  margin-top: 8px;
}

li {
  line-height: 1.3;
  margin-top: 10px;
}
